body {
	background-color: #d9b3ff;
}

#container {
	margin: auto;
	width: 50%;
	background-color: #ffffff55;
	margin-bottom: 50px;
}

/*Top Banner*/
header {
	border-bottom: 10px dashed #fff;
}

#banner {
	width: 70%;
	display: block;
	margin: auto;
}

#back {
	float: left;
	width: 5%;
	height: 5%;
}

/*game section*/
div {
	font-size: 20px;
	line-height: 150%;
	font-weight: bolder;
	color: #660099;
}

#game-section {
	background-color: #ffffff55;
	margin-bottom: 5%;
	padding: 20px;
	height: 450px;
	background-image: url("../../assets/images/townsville.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: static;
}

.topRight {
	float: right;
	margin-right: 2%;
	font-size: 20px;
	background-color: #ffffff55;
	width: 15%;
}

.alignTextRight {
	float: right;
	text-align: right;
}

#guess-section {
	text-align: center;
	clear: both;
	position: relative;
	margin-top: 25%;
	padding: 20px 0;
	width: 100%;
	background-color: #ffffff55;
	text-shadow: 3px 3px 2px orange;
}

.textBlock {
	background-color: #00000055;
	border-radius: 10px;
	color: #ffffff;
	margin: 0 25%;
	margin-bottom: 10px;
}

/*Footer*/
footer {
	background-color: #330066;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	position: fixed;
	bottom: 0;
}